






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		

		<img class="retina" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
		<div class="tint"></div>
		<div class="holder">
		
			<img class="retina t1" src="../_common/images/<%= width %>x<%= height %>/t1.png" />				
			<img class="retina t2" src="../_common/images/<%= width %>x<%= height %>/t2.png" />				
			<img class="retina t3" src="../_common/images/<%= width %>x<%= height %>/t3.png" />				
			<img class="retina t4" src="../_common/images/<%= width %>x<%= height %>/t4.png" />				
			
			
			<div class="end">
				<img class="retina end_txt" src="../_common/images/<%= width %>x<%= height %>/end_txt.png" />
				<img class="retina end_copy" src="../_common/images/<%= width %>x<%= height %>/end_copy.png" />
				<img class="retina end_cta" src="../_common/images/<%= width %>x<%= height %>/end_cta.png" />
				<img class="retina end_logo" src="../_common/images/<%= width %>x<%= height %>/end_logo.png" />
				<img class="retina border-end" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>			
		</div>

		<img class="retina border-start" src="../_common/images/<%= width %>x<%= height %>/border.png" />

		
		
		
		


	</div>

	
	
	
	
</div>