






<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		

		<img class="retina" src="../_common/images/<%= width %>x<%= height %>/bg.jpg" />
		<div class="tint"></div>
		<div class="holder">
			<div class="t1">
				<img class="retina" src="../_common/images/<%= width %>x<%= height %>/t1.png" />
				<img class="retina border" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>
			<div class="t2">
				<img class="retina" src="../_common/images/<%= width %>x<%= height %>/t2.png" />
				<img class="retina border" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>
			<div class="t3">
				<img class="retina" src="../_common/images/<%= width %>x<%= height %>/t3.png" />
				<img class="retina border" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>
			<div class="t4">
				<img class="retina" src="../_common/images/<%= width %>x<%= height %>/t4.png" />
				<img class="retina border" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>
			
			
			<div class="end">
				<img class="retina end_txt" src="../_common/images/<%= width %>x<%= height %>/end_txt.png" />
				<img class="retina end_copy" src="../_common/images/<%= width %>x<%= height %>/end_copy.png" />
				<img class="retina end_cta" src="../_common/images/<%= width %>x<%= height %>/end_cta.png" />
				<img class="retina end_logo" src="../_common/images/<%= width %>x<%= height %>/end_logo.png" />
				<img class="retina border" src="../_common/images/<%= width %>x<%= height %>/border.png" />
			</div>
			
		</div>
		
		
		


	</div>

	
	
	
	
</div>